<div class="main-wrapper">
  <div class="left">
    <input *ngIf="!formData" class="form-control" type="file" (change)="onChange($event)" />
    <!-- <pre>{{formData | json}}</pre> -->
    <!-- Create Form -->
    <form *ngIf="formData" id="form">
      <div class="heading-wrapper">
        <h1>
          {{formData.surveyHeader}}
        </h1>
        <h4>{{formData.surveySubTitle}}</h4>
      </div>
      <div class="content-wrapper">
        <!-- <div class="notice-container">
          Hi, Manoj. When you submit this form, the owner will see your name and email address.
        </div> -->

        <div *ngFor="let section of formData.surveySectionList">
          <div class="heading">
            <div class="title">
              {{section.sectionHeader}}
            </div>
            <div class="subtitle">
              {{section.sectionSubTitle}}
            </div>
          </div>
          <div *ngFor="let item of section.questionList; index as i">
            <div class="question-item">
              <!-- Details -->
              <div class="form-control">
                <label for="name" id="label-name">
                  {{i+1}}. {{item.questionHeader}}
                </label>
                <div class="question-subtitle">
                  {{item.questionSubTitle}}
                </div>
                <!-- Input Type Text -->
                <textarea *ngIf="item.questionType == 'longtext'" [(ngModel)]="item.questionResponse" type="text"
                  rows="4" [ngModelOptions]="{standalone: true}" placeholder="Enter your answer"></textarea>

                <!-- checkbox -->
                <div *ngIf="item.questionType == 'multichoice'">
                  <label *ngFor="let option of item.options; let i = index">
                    <input type="checkbox"
                      (change)="toggleSelection($event, item.options, i, item.questionResponseList)">{{option}}
                  </label>
                </div>

                <!-- radio -->
                <div *ngIf="item.questionType == 'singlechoice'">
                  <label *ngFor="let option of item.options">
                    <input type="radio" [(ngModel)]="item.questionResponse" [value]="option"
                      [ngModelOptions]="{standalone: true}">{{option}}
                  </label>
                </div>
              </div>

              <div class="form-button" *ngIf="item.aiRelevant">
                <button *ngIf="item.questionResponse !== ''" (click)="getChatsByQuestionId(item)" [disabled]="item.questionResponse === ''">
                  View Chat
                </button>
                &nbsp;
                &nbsp;
                <button (click)="saveQuestionResponse(item)" [disabled]="item.questionResponse === ''">
                  Update Chat
                </button>
                &nbsp;
                &nbsp;
                <button class="warn" (click)="chatData = []" [disabled]="item.questionResponse === ''">
                  Clear Chat
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <!-- Multi-line Text Input Control -->
          <button type="submit" value="submit" (click)="onSubmit()">
            Submit
          </button>
          <button type="submit" value="submit" (click)="saveChat()">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="right">
    <div *ngFor="let chat of chatData">
      <div class="chat-wrapper" *ngIf="chat.sender !== 'system'">
        <div>
          <span class="sender">
            {{chat.sender}}
          </span>
        </div>
        <div class="content" [innerHTML]="chat.content"></div>
      </div>
    </div>
    <div class="add-message" (click)="toggleChatInput()" *ngIf="!showChatInput">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
        <path d="M13 9a1 1 0 1 0-2 0v2H9a1 1 0 1 0 0 2h2v2a1 1 0 1 0 2 0v-2h2a1 1 0 1 0 0-2h-2V9Z"></path>
        <path fill-rule="evenodd"
          d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2ZM4 12a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z"
          clip-rule="evenodd"></path>
      </svg>
      Add Message
    </div>
    <div *ngIf="showChatInput">
      <div class="chat-wrapper">
        <div>
          <span class="sender">
            USER
          </span>
        </div>
        <div class="content">
          <!-- Chat Input Type Text -->
          <textarea [(ngModel)]="chatInput" type="text" rows="4" [ngModelOptions]="{standalone: true}"
            placeholder="Enter a user message here."></textarea>
        </div>
        <svg (click)="showChatInput = false" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
          fill="currentColor" viewBox="0 0 24 24" class="chat-message-remove-button">
          <path d="M9 11a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"></path>
          <path fill-rule="evenodd"
            d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2ZM4 12a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z"
            clip-rule="evenodd"></path>
        </svg>
        <div></div>
        <div class="button-wrapper">
          <button type="submit" value="submit" (click)="sendUserChat()" [disabled]="selectedQuestion.questionResponse === ''">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>